<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firebaseloginapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/elearning"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pdfUploader" android:screenOrientation="portrait"/>

        <activity android:name=".ContentNotificationProf" android:screenOrientation="portrait" />
        <activity android:name=".ContentSearchProf"  android:screenOrientation="portrait"/>
        <activity android:name=".ContentHomeProf" android:screenOrientation="portrait" />
        <activity android:name=".HomeProf" android:screenOrientation="portrait"></activity>
        <activity android:name=".homeEtudiant" android:screenOrientation="portrait"/>
        <activity android:name=".contentSearchEtudiant" android:screenOrientation="portrait"/>
        <activity android:name=".contentNotificationEtudiant" android:screenOrientation="portrait" />
        <activity android:name=".contentHomeEtudiant" android:screenOrientation="portrait" />
        <activity android:name=".AccountActivity.AnotherActivity" android:screenOrientation="portrait" />
        <activity android:name=".AccountActivity.Contenu" android:screenOrientation="portrait" />
        <activity android:name=".AccountActivity.ProfAcc" android:screenOrientation="portrait" />
        <activity android:name=".AccountActivity.LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountActivity.MainActivity" />
        <activity android:name=".AccountActivity.SignupActivity" />
        <activity android:name=".AccountActivity.ResetPasswordActivity" />
    </application>

</manifest>